body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MilanTypeRev Regular";
    background-color: #F5F5F5;
}

header {
    height: 158px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.2);
    position: relative;
}

.logo {
    height: 132px;
    position: absolute;
    top: 68px;
    left: 280px;
    z-index: 5;
}
.logo-background {
    background-image: url('https://www.acmilan.com/images/logoCircles.png');
    background-repeat: no-repeat;
    width: 600px;
    height: 280px;
    position: relative;
    left: 137px;
    bottom: 120px;
}   

.top-header {
    display: flex;
    position: absolute;
    top: 0px;
    right: 240px;
}
.top-header ul {
    list-style: none;
    display: inline-flex;
}
.social {
    align-items: center;
    padding-right: 25px;
}
.social img {
    width: 15px;
}
.social li {
    padding: 0 6px;
    margin: 5px 0;
}
.sponsor {
    padding-left: 25px;
    border-left: 1px solid rgba(0,0,0, 0.2);
}
.sponsor img {
    width: 80px;
}

.nav-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 370px;
}
.menu {
    text-transform: uppercase;
    list-style: none;
    display: flex;
}
.menu li {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.7;
}
.menu li:hover {
    opacity: 1;
}
.navigation {
    display: flex;
    margin-left: 30px;
}
.navigation button {
    background-color: #C9230E;
    color: #fff;
    border: 2px solid #C9230E;
    font-size: 11px;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
}
.navigation button:hover {
    background-color: transparent;
    color: #C9230E;
    border-color: #C9230E;
    
}
.search-icon {
    width: 15px;
    cursor: pointer;
    padding: 6px;
    margin-left: 10px;
}
.search-icon:hover {
    background-color: #C9230E;
}
.language {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.language img {
    width: 15px;
    height: 15px;
}
.language .country {
    font-size: 14px;
    margin-left: 5px;
}
.language .arrow {
    transform: rotate(90deg);
    margin-left: 10px;
}


.carousel {
    background-image: url('https://assets-eu-01.kc-usercontent.com/1293c890-579f-01b7-8480-902cca7de55e/d3accc12-ce73-4ae6-8b25-c125025948a7/2024.01.04-Ticketing-MilanAtalanta-CI-WebHP-ITA.png?w=2560&auto=format');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 1280px;
    height: 600px;
    color: #fff;
    position: relative;
    bottom: 27px;
}

.carousel .description {
    width: 770px;
    position: relative;
    top: 370px;
    left: 70px;
}
.carousel h2 {
    font-size: 32px;
    text-shadow: 0 0 10px #000;
}
.carousel p {
    font-size: 18px;
}
.buttons {
    position: relative;
    top: 310px;
    left: 870px;
    display: inline-block;
}
.buttons button{
    text-transform: uppercase;
    font-size: 16px;
}
.carousel .red {
    background-color: #C9230E;
    color: #fff;
    border: 2px solid #C9230E;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    width: 156px;
    height: 36px;
    transition: all 0.3s ease-in;
}
.carousel .red:hover {
    background-color: rgb(0, 0, 0, 0.2);
    color: #fff;
    border-color: #C9230E;
}
.carousel .transparent {
    background-color: rgb(0, 0, 0, 0.2);
    color: #fff;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    width: 156px;
    height: 36px;
    margin-left: 20px;
    transition: all 0.3s ease-in;
}
.carousel .transparent:hover {
    background-color: #fff;
    color: #000;
}


.season {
    display: flex;
    justify-content: center;
    z-index: 5px;
    margin: 0 auto;
    position: relative;
    top: -70px;
}
.season h2 {
    text-transform: uppercase;
}
.season .partite {
    background-color: #fff;
    text-align: center;
    padding: 20px 100px;
    border-right: 1px solid rgba(0,0,0, 0.2);
}
.season .classifica {
    background-color: #fff;
    padding: 20px 60px;
    text-align: center;
}
.partite h2 {
    margin-bottom: 4px;
}
.partite img {
    width: 60px;
    height: auto;
}
.partite .dettagli {
    font-size: 12px;
}
.dettagli .giornata {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.dettagli p,
.dettagli span {
    margin: 0;
}
.dettagli div {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.match .first-team,
.match #versus,
.match .second-team {
    display: inline-block;
}
#versus {
    position: relative;
    bottom: 60px;
    left: 13px;
    margin: 0 120px;
    font-size: 24px;
}
.match button,
.match a {
    display: block;
}
.partite button {
    cursor: pointer;
    background-color: #D50101;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #D50101;
    margin: 0 auto;
    padding: 1px 6px;
    font-size: 11px;
    text-transform: uppercase;
    width: 120px;
    position: relative;
    bottom: 50px;
    transition: all 0.3s ease-in;
}
.partite button:hover {
    background-color: transparent;
    color: #D50101 ;
    border-color: #D50101;
}
.partite a {
    text-decoration: none;
}
.partite .stream {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    color: #D50101;
    font-weight: 300;
    text-decoration: underline;
}
.partite .stream:hover {
    text-decoration: none;
}
.classifica table {
    margin-top: 25px;
    margin-bottom: 40px;
}
.classifica thead tr {
    margin-bottom: 5px;
}
.classifica table th {
    font-family:  'Raleway', sans-serif;
    font-size: 14px;
    width: 67px;
    font-weight: normal;
}
.classifica .empty {
    width: 0px;
}
.classifica thead .league {
    width: 195px;
    margin-left: 22px;
    font-weight: bold;
}
.classifica tbody tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.classifica .no-border {
    border: none;
}
.classifica td {
    width: 67px;
    font-family:  'Raleway', sans-serif;
}
.classifica .punti {
    margin-left: 67px;
    font-weight: bold;
}
.classifica .team {
    display: flex;
    align-items: center;
    width: 190px;
    font-family: "MilanTypeRev Regular";
}
.classifica .milan {
    color: #C9230E;
    font-weight: bold;
}
.classifica table img {
    width: 25px;
    padding-right: 15px;
}
.classifica h4 {
    text-transform: uppercase;
    display: inline
}
.classifica tr {
    display: flex;
    align-items: center;
}
.classifica tbody tr {
    height: 40px;
}
.classifica .position {
    font-weight: bold;
    color: #D8BE6D;
    font-family:  "MilanTypeRev Regular";
    padding-right: 20px;
}

.classifica .classifiche-link {
    font-family: 'Raleway', sans-serif;
    color: #D50101;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 40px;
}
.classifica .classifiche-link:hover {
    text-decoration: none;
}


.news {
    margin: 0 15%;
}
.news .titolo {
    display: flex;
    align-items: center;
}
.news .titolo h2 {
    text-transform: uppercase;
    margin-right: 20px;
}
.news .titolo a {
    font-family: 'Raleway', sans-serif;
    color: #C9230E;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    border-left: 0.5px solid rgb(20, 20 ,20, 0.5);
}
.news .griglia-news {
    display: flex;
    flex-wrap: wrap;
}
.news .griglia-news h3 {
    font-size: 21px;
    text-transform: uppercase;
    margin: 0;
}
.news .griglia-news p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0;
}
.news .griglia-news a {
    text-decoration: none;
    color: #000;
}
.news .griglia-news div div {
    background-color: #fff;
    max-width: 450px;
    padding-left: 12px;
    padding-bottom: 10px;
    position: relative;
    bottom: 60px;
    left: 40px;
    padding-right: 10px;
}
.news .griglia-news span {
    color: #C9230E;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.news .griglia-news .big img {
    width: 560px;
}
.news .griglia-news .small img {
    width: 363px;
}
.news .griglia-news div {
    margin-right: 20px;
}
.news .griglia-news .small div {
    max-width: 280px;
    padding-right: 20px;
    left: 25px;
}