body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MilanTypeRev Regular";
    background-color: #F5F5F5;
}

header {
    height: 158px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.2);
    position: relative;
}

.logo {
    height: 132px;
    position: absolute;
    top: 68px;
    left: 280px;
    z-index: 5;
}
.logo-background {
    background-image: url('https://www.acmilan.com/images/logoCircles.png');
    background-repeat: no-repeat;
    width: 600px;
    height: 280px;
    position: relative;
    left: 137px;
    bottom: 120px;
}   

.top-header {
    display: flex;
    position: absolute;
    top: 0px;
    right: 240px;
}
.top-header ul {
    list-style: none;
    display: inline-flex;
}
.social {
    align-items: center;
    padding-right: 25px;
}
.social img {
    width: 15px;
}
.social li {
    padding: 0 6px;
    margin: 5px 0;
}
.sponsor {
    padding-left: 25px;
    border-left: 1px solid rgba(0,0,0, 0.2);
}
.sponsor img {
    width: 80px;
}

.nav-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 370px;
}
.menu {
    text-transform: uppercase;
    list-style: none;
    display: flex;
}
.menu li {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.7;
}
.menu li:hover {
    opacity: 1;
}
.navigation {
    display: flex;
    margin-left: 30px;
}
.navigation button {
    background-color: #C9230E;
    color: #fff;
    border: 2px solid #C9230E;
    font-size: 11px;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
}
.navigation button:hover {
    background-color: transparent;
    color: #C9230E;
    border-color: #C9230E;
    
}
.search-icon {
    width: 15px;
    cursor: pointer;
    padding: 6px;
    margin-left: 10px;
}
.search-icon:hover {
    background-color: #C9230E;
}
.language {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.language img {
    width: 15px;
    height: 15px;
}
.language .country {
    font-size: 14px;
    margin-left: 5px;
}
.language .arrow {
    transform: rotate(90deg);
    margin-left: 10px;
}


.carousel {
    background-image: url('https://assets-eu-01.kc-usercontent.com/1293c890-579f-01b7-8480-902cca7de55e/d3accc12-ce73-4ae6-8b25-c125025948a7/2024.01.04-Ticketing-MilanAtalanta-CI-WebHP-ITA.png?w=2560&auto=format');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 1280px;
    height: 600px;
    color: #fff;
    position: relative;
    bottom: 27px;
}

.carousel .description {
    width: 770px;
    position: relative;
    top: 370px;
    left: 70px;
}
.carousel h2 {
    font-size: 32px;
    text-shadow: 0 0 10px #000;
}
.carousel p {
    font-size: 18px;
}
.buttons {
    position: relative;
    top: 310px;
    left: 870px;
    display: inline-block;
}
.buttons button{
    text-transform: uppercase;
    font-size: 16px;
}
.carousel .red {
    background-color: #C9230E;
    color: #fff;
    border: 2px solid #C9230E;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    width: 156px;
    height: 36px;
    transition: all 0.3s ease-in;
}
.carousel .red:hover {
    background-color: rgb(0, 0, 0, 0.2);
    color: #fff;
    border-color: #C9230E;
}
.carousel .transparent {
    background-color: rgb(0, 0, 0, 0.2);
    color: #fff;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    width: 156px;
    height: 36px;
    margin-left: 20px;
    transition: all 0.3s ease-in;
}
.carousel .transparent:hover {
    background-color: #fff;
    color: #000;
}


.season {
    display: flex;
    justify-content: center;
    z-index: 5px;
    margin: 0 auto;
    position: relative;
    top: -70px;
}
.season h2 {
    text-transform: uppercase;
}
.season .partite {
    background-color: #fff;
    text-align: center;
    padding: 20px 100px;
    border-right: 1px solid rgba(0,0,0, 0.2);
}
.season .classifica {
    background-color: #fff;
    padding: 20px 60px;
    text-align: center;
}
.partite h2 {
    margin-bottom: 4px;
}
.partite img {
    width: 60px;
    height: auto;
}
.partite .dettagli {
    font-size: 12px;
}
.dettagli .giornata {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.dettagli p,
.dettagli span {
    margin: 0;
}
.dettagli div {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.match .first-team,
.match #versus,
.match .second-team {
    display: inline-block;
}
#versus {
    position: relative;
    bottom: 60px;
    left: 13px;
    margin: 0 120px;
    font-size: 24px;
}
.match button,
.match a {
    display: block;
}
.partite button {
    cursor: pointer;
    background-color: #D50101;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #D50101;
    margin: 0 auto;
    padding: 1px 6px;
    font-size: 11px;
    text-transform: uppercase;
    width: 120px;
    position: relative;
    bottom: 50px;
    transition: all 0.3s ease-in;
}
.partite button:hover {
    background-color: transparent;
    color: #D50101 ;
    border-color: #D50101;
}
.partite a {
    text-decoration: none;
}
.partite .stream {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    color: #D50101;
    font-weight: 300;
    text-decoration: underline;
}
.partite .stream:hover {
    text-decoration: none;
}
.classifica table {
    margin-top: 25px;
    margin-bottom: 40px;
}
.classifica thead tr {
    margin-bottom: 5px;
}
.classifica table th {
    font-family:  'Raleway', sans-serif;
    font-size: 14px;
    width: 67px;
    font-weight: normal;
}
.classifica .empty {
    width: 0px;
}
.classifica thead .league {
    width: 195px;
    margin-left: 22px;
    font-weight: bold;
}
.classifica tbody tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.classifica .no-border {
    border: none;
}
.classifica td {
    width: 67px;
    font-family:  'Raleway', sans-serif;
}
.classifica .punti {
    margin-left: 67px;
    font-weight: bold;
}
.classifica .team {
    display: flex;
    align-items: center;
    width: 190px;
    font-family: "MilanTypeRev Regular";
}
.classifica .milan {
    color: #C9230E;
    font-weight: bold;
}
.classifica table img {
    width: 25px;
    padding-right: 15px;
}
.classifica h4 {
    text-transform: uppercase;
    display: inline
}
.classifica tr {
    display: flex;
    align-items: center;
}
.classifica tbody tr {
    height: 40px;
}
.classifica .position {
    font-weight: bold;
    color: #D8BE6D;
    font-family:  "MilanTypeRev Regular";
    padding-right: 20px;
}

.classifica .classifiche-link {
    font-family: 'Raleway', sans-serif;
    color: #D50101;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 40px;
}
.classifica .classifiche-link:hover {
    text-decoration: none;
}


.news {
    margin: 0 15%;
}
.news .titolo {
    display: flex;
    align-items: center;
}
.news .titolo h2 {
    text-transform: uppercase;
    margin-right: 20px;
}
.news .titolo a {
    font-family: 'Raleway', sans-serif;
    color: #C9230E;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    border-left: 0.5px solid rgb(20, 20 ,20, 0.5);
}
.news .griglia-news {
    display: flex;
    flex-wrap: wrap;
}
.news .griglia-news h3 {
    font-size: 21px;
    text-transform: uppercase;
    margin: 0;
}
.news .griglia-news p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0;
}
.news .griglia-news a {
    text-decoration: none;
    color: #000;
}
.news .griglia-news div div {
    background-color: #fff;
    max-width: 450px;
    padding-left: 12px;
    padding-bottom: 10px;
    position: relative;
    bottom: 60px;
    left: 40px;
    padding-right: 10px;
}
.news .griglia-news span {
    color: #C9230E;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.news .griglia-news .big img {
    width: 560px;
}
.news .griglia-news .small img {
    width: 363px;
}
.news .griglia-news div {
    margin-right: 20px;
}
.news .griglia-news .small div {
    max-width: 280px;
    padding-right: 20px;
    left: 25px;
}


.pubblicita {
    text-align: center;
    margin-top: 50px;
}
.pubblicita  img {
    max-width: 1140px;
}


.media {
    margin: 50px 10%;
    background-color: #141414;
    padding: 50px 70px;
}
.media .titolo {
    display: flex;
    align-items: center;
}
.media .titolo h2 {
    text-transform: uppercase;
    margin-right: 20px;
    color: #fff;
}
.media .titolo a {
    font-family: 'Raleway', sans-serif;
    color: rgb(162, 145, 97);
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    border-left: 0.5px solid rgb(162, 145, 97);
}
.media h3 {
    font-size: 21px;
    text-transform: uppercase;
    margin: 0;
}
.media p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0;
    height: 30px;
}
.media a {
    text-decoration: none;
    color: #fff;
}

.media .video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1200px;
    gap: 20px;
    align-items: stretch;
}
.media .video .screen {
    width: 100%;
}
.media .video div div {
    background-color: #2B2B2B;
    padding: 10px;
    margin-top: -70px;
    line-height: 25px;
}
.media .video .play {
    width: 60px;
    position: relative;
    bottom: 70px;
    left: 5px;
}
.media .video h3 {
    font-size: 16px;
}
.media .video span {
    color: #C9230E;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.media .video .first,
.media .video .second,
.media .video .third,
.media .video .fourth,
.media .video .fifth {
    height: 90%;
}
.media .video .first {
    grid-area: 1 / 1 / span 2 / span 2;
}
.media .video .first div {
    padding-top: 40px;
    padding-bottom: 120px;
}

.media .video .first span {
    font-size: 70px;
    position: relative;
    bottom: 2px;
    display: inline-block;
}
.media .video .first div h3 {
    font-size: 26px;
}
.media .video .first div p {
    margin-bottom: 10px;
}

.media .video .second {
    grid-area: 1 / 3 / span 1 / span 1;
}
.media .video .third {
    grid-area: 1 / 4 / span 1 / span 1;
}
.media .video .fourth {
    grid-area: 2 / 3 / span 1 / span 1;
    margin-top: -15px;
}
.media .video .fifth {
    grid-area: 2 / 4 / span 1 / span 1;
    margin-top: -15px;
}
.media .video .fifth div {
    padding-bottom: 35px;
}

.media .fotogallery {
    margin-top: 50px;
}
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery .first,
.gallery .second,
.gallery .third,
.gallery .fourth {
    color: #fff;
    font-size: 12px;
    height: 260px;
    width: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.gallery .first::before,
.gallery .second::before,
.gallery .third::before,
.gallery .fourth::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}
.gallery div div {
    position: relative;
    top: 120px;
    left: 10px;
}
.gallery img {
    position: relative;
    width: 30px;
    left: 15px;
    top: 10px;
}
.gallery span {
    color: #D50101;
    font-size: 40px;
    padding-left: 10px;
}
.gallery h3 {
    font-size: 16px;
}
.gallery .first {
    background-image: url('https://assets-eu-01.kc-usercontent.com/1293c890-579f-01b7-8480-902cca7de55e/5cc0475c-d0ba-48fa-962c-c6121a7e72c4/JuveMilanFemminile_17.jpg?w=1280&auto=format');
}
.gallery .second {
    background-image: url('https://assets-eu-01.kc-usercontent.com/1293c890-579f-01b7-8480-902cca7de55e/1754860c-e77b-4b40-91f9-7d8760c5e128/Gallery-Allenamento-12gen-05.jpg?w=1280&auto=format');
}
.gallery .third {
    background-image: url('https://assets-eu-01.kc-usercontent.com/1293c890-579f-01b7-8480-902cca7de55e/787f5a91-2028-4047-88f4-a498c560287e/AllenamentoF-11.jpg?w=1280&auto=format');
}
.gallery .fourth {
    background-image: url('https://assets-eu-01.kc-usercontent.com/1293c890-579f-01b7-8480-902cca7de55e/a51a7223-0e0e-4ef9-abc4-ad0d170c85da/MilanAtalanta-35.jpg?w=1280&auto=format');
}


.shop {
    margin: 0 15%;
}
.shop h1 {
    text-transform: uppercase;
    font-size: 28px;
}
.shop .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop img {
    width: 360px;
}
.shop .content div div {
    text-align: center;
    padding: 20px;
}
.shop button {
    cursor: pointer;
    padding: 10px 50px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #D50101;
    color: #fff;
    border: 2px solid #D50101;
    border-radius: 2px;
    font-family: "MilanTypeRev Regular";
    transition: all ease-in 0.3s;
}
.shop button:hover {
    background-color: transparent;
    color: #D50101;
}
.shop .first,
.shop .second,
.shop .third {
    background-color: #fff;
}


.app {
    text-align: center;
    margin: 100px 15%;
    background-color: #fff;
    padding-bottom: 20px;
}
.app img {
    width: 100%;
}
.app h2 {
    text-transform: uppercase;
    margin-bottom: 0;
}
.app p {
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}
.app button {
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 100px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #D50101;
    color: #fff;
    border: 2px solid #D50101;
    border-radius: 2px;
    font-family: "MilanTypeRev Regular";
    transition: all ease-in 0.3s;
}
.app button:hover {
    background-color: transparent;
    color: #D50101;
}


.squadra {
    margin: 0 12%;
    background-image: url('https://assets-eu-01.kc-usercontent.com/1293c890-579f-01b7-8480-902cca7de55e/397f19e1-c382-459c-bb38-3ebdce8f0204/HP-PrimaSquadra-2023-24.png?w=2560&auto=format');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 500px;
    position: relative;
}
.squadra div {
    text-align: center;
    position: relative;
    z-index: 1;
}
.squadra h2 {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.squadra p {
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    max-width: 200px;
    margin: 0 auto;
}
.squadra button {
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 100px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #D50101;
    color: #fff;
    border: 2px solid #D50101;
    border-radius: 2px;
    font-family: "MilanTypeRev Regular";
    transition: all ease-in 0.3s;
}
.squadra button:hover {
    background-color: rgb(0, 0, 0, 0.5);
}
.squadra::before {
    content: "";
    background-color: rgba(0,0,0, 0.4);
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
}


.club {
    margin: 50px 15%;
}
.club h1 {
    text-transform: uppercase;
    font-size: 28px;
}
.club img {
    width: 560px;
}
.club .content {
    display: flex;
    justify-content: space-between;
}
.club .first, 
.club .second {
    background-color: #fff;
    padding-bottom: 20px;
}
.club .content div div {
    text-align: center;
}
.club h2 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
}
.club p {
    margin-top: 0;
    font-size: 11px;
}
.club button {
    margin-top: 20px;
    cursor: pointer;
    padding: 8px 80px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #D50101;
    color: #fff;
    border: 2px solid #D50101;
    border-radius: 2px;
    font-family: "MilanTypeRev Regular";
    transition: all ease-in 0.3s;
}
.club button:hover {
    background-color: transparent;
    color: #D50101;
}